/* Zero padding and margins */
* {
	margin: 0;
	padding: 0;
 }
 
 body {
	background: #181818;
	color: #fff;
	font-size: 1.8em;
	padding: 1em;
 }
 
 header {
	border-bottom: 1px solid #eee;
	padding: 1em 0;
	margin: 10px 0;
 }